.item {
  border-radius: 8px;
  padding: 8px 12px;
  gap: 8px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  background-color: #dddddd;
  color: #2a2929;
  border: 2px solid #2a2929;
}
.itemWrapper {
  word-break: break-word;
}

.deleteBtn {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #cecece;
  background-color: #2a2929;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background-color: rgba(63, 63, 63, 0.92);
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}
