.wrapper {
}
.title {
  font-size: 48px;
  color: #dddddd;
  background-color: #2a2929;
  padding: 4px 8px;
  width: 100%;
  text-align: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  min-height: 100vh;
  background-color: #dddddd;
  padding: 24px;
}
